.svg-back {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='350' height='200' preserveAspectRatio='none' viewBox='0 0 350 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1318%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c174 C 23.4%2c155.2 70.2%2c82.4 117%2c80 C 163.8%2c77.6 187.4%2c176.2 234%2c162 C 280.6%2c147.8 326.8%2c39.6 350%2c9L350 200L0 200z' fill='rgba(238%2c 238%2c 238%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1318'%3e%3crect width='350' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
