.svg-back {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4rem 0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.circle-wrapper {
  position: relative;
  height: 6.25rem;
  overflow-y: hidden;

  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    p {
      padding: 0;
      margin: 0;
    }

    .percent {
      font-size: 1.6rem;
    }

    .item-counter {
      font-size: 1.3rem;
    }
  }

  .outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    transform: rotate(-90deg);
    background: conic-gradient(#0d6efd 135deg, #d7e1e7 0deg);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

    .inner {
      width: 85%;
      height: 85%;
      border-radius: 50%;
      background-color: #f8f9fa;
    }
  }
}
